{% extends 'base.html.twig' %}

{% block body %}
    <h1><span>Welcome to</span> YASP !</h1>
    <hr>

    <div class="card-deck">
        {% for video in videos %}
        <a href="/video/{{ video.idVideo }}" style="text-decoration: none;">
            <div class="card" style="width: 15rem;">
                <img class="card-img-top blurry" src="thumbnails/{{ video.idVideo }}.jpg" alt="Card image cap">
                <div class="card-body">
                        <h5 class="card-title" style="color: black;">{{ video.titre }}</h5>
                        {% if video.prix == 0 %}
                            <div class="chip freechip">free</div>
                        {% else %}
                            <div class="chip paychip">
                                <img src="{{ asset('eurochip.png') }}" alt="chip" width="20" height="20">
                                <div class="text"> {{video.prix}}</div>
                            </div>
                        {% endif %}
                    <p class="card-text">{{ video.description|length > 20 ? video.description|slice(0, 20) ~ '...' : video.description  }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    .card-deck a{
        margin-bottom: 2rem;
    }

    .card {
        border: 0;
        border-radius: 0px;
        -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
        box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
        transition: all .3s ease-in-out;
        will-change: transform;
    }

    .chip{
        width :30%;
        height:12.5%;
        color : white;
        position: absolute;
        bottom: 80%;
        right : 75%;
    }

    .paychip{
        border : solid 1px;
        border-radius: 1rem;
        display: flex;
        border-color:  lightskyblue;
        background-color : lightskyblue;
        box-shadow: 3px 3px 6px 2px rgba(0, 0, 255, .2);
    }
    .freechip{
        border : solid 1px;
        border-radius: 1rem;
        text-align: center;
        border-color: #57e2b2;
        background-color : #57e2b2;
        box-shadow: 3px 3px 4px 2px rgba(0, 200, 0, .2);
    }
    .paychip .text{
        text-align: center;
        padding-left: 30%;
    }
    .paychip img{
        position: absolute;
        border-radius: 1rem;
        position: absolute;
        right: 3.6rem;
        box-shadow: 3px 3px 5px 2px rgba(0, 0, 255, .2);
    }

    .paychip:hover img{
        background-color: #4CAF50;
        -ms-transform: translate(300%,0);
        -webkit-transform: translate(300%,0);
        transform: translate(300%,0);
        -webkit-transition: 0.25s ease-in;
        -moz-transition: 0.25s ease-in;
        -o-transition: 0.25s ease-in;
        transition: 0.25s ease-in;
    }

    .paychip:after img{
        transition: 0.25s;
        -webkit-transition: 0.25s ease-out;
        -moz-transition: 0.25s ease-out;
        -o-transition: 0.25s ease-out;
    }

    .card:after {
        transition: 0.5s;
        -webkit-transition: 0.5s ease-in;
        -moz-transition: 0.5s ease-in;
        -o-transition: 0.5s ease-in;
    }

    .card:hover {
        transform: scale(1);
        -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
        box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
    }
    .card:after {
        width: 100%;
    }
    
</style>
{% endblock %}

{% block javascripts %}

{% endblock %}
