{% extends 'base.html.twig' %}



{% block body %}
    <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" controls>
            <source src="{{ video.titre }}.mp4" type="video/mp4">
            <source src="{{ video.titre }}.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </div>
    <h4>{{ video.titre }}</h4>
    <hr />
    <h5>Description :</h5>
    <p>{{ video.description }}</p>
    <hr />

    <div class="list-group">
    {% for comment in commentaries %}
        <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <p class="mb-1">{{  comment.message }}</p>
            <div class="d-flex w-100 justify-content-between">
                <small>3 days ago by ...</small>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}



{% block stylesheets %}

{% endblock %}