{% extends 'base.html.twig' %}



{% block body %}
    <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" controls>
            <source src="{{ video.titre }}.mp4" type="video/mp4">
            <source src="{{ video.titre }}.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </div>
    <h4>{{ video.titre }}</h4>
    <hr />
    <h5>Description :</h5>
    <p>{{ video.description }}</p>
    <hr />

    <div class="comments">
        <p name="bullshit" id="bullshit"></p>
    {% if session is defined and session.get("usr") is defined and session.get("usr").idutilisateur is defined %}

        <div class="comment-wrap">
            <div class="photo">
                <div class="avatar" style="background-image: url('{{ session.get("usr").urlAvatar }}')"></div>
            </div>
            <div class="comment-block">
                <form action="">
                    <textarea name="comment" id="comment" cols="30" rows="3" placeholder="Add comment..."></textarea>
                    <button name="postComment" id="postComment" type="button" class="btn btn-primary btn-sm" style="float:right;">Post</button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="comment-wrap" style="text-align: center;">
            <p><em><small>You need to be logged in to add a comment.</small></em></p>
        </div>
    {% endif %}
        {% for comment in commentaries %}
            <div class="comment-wrap">
                <div class="photo">
                    <div class="avatar" style="background-image: url('https://pbs.twimg.com/profile_images/789250023582294016/aiIKUDdn_400x400.jpg')"></div>
                </div>
                <div class="comment-block">
                    <p class="comment-text">{{ comment.message }}</p>
                    <div class="bottom-comment">
                        <div class="comment-date">{{ comment.createdat.format('d-m-y H:i:s') }} by ...</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(() => {
            $('#postComment').click(()=>{
                $.ajax({
                    url : '{{ app.request.uri }}/comment/new',
                    type : 'POST',
                    data : {comment: $('#comment').val()},
                    dataType : 'json',
                    success: (json, status) => {
                        // need to be completed
                    }
                });
            });
        });


    </script>
{% endblock %}

{% block stylesheets %}
    <style>

        textarea{
            padding-left: 5px;
        }

        .comments {
            margin: 2.5rem auto 0;
            max-width: 60.75rem;
            padding: 0 1.25rem;
        }

        .comment-wrap {
            margin-bottom: 1.25rem;
            display: table;
            width: 100%;
            min-height: 5.3125rem;
        }

        .photo {
            padding-top: 0.625rem;
            display: table-cell;
            width: 3.5rem;
        }

        .photo .avatar {
            height: 2.25rem;
            width: 2.25rem;
            border-radius: 50%;
            background-size: contain;
        }

        .comment-block {
            padding: 1rem;
            background-color: #fff;
            display: table-cell;
            vertical-align: top;
            border-radius: 0.1875rem;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
        }

        .comment-block textarea {
            width: 100%;
            resize: none;
        }

        .comment-text {
            margin-bottom: 1.25rem;
        }

        .bottom-comment {
            color: #acb4c2;
            font-size: 0.875rem;
        }

        .comment-date {
            float: left;
        }

        .comment-actions {
            float: right;
        }

        .comment-actions li {
            display: inline;
            margin: -2px;
            cursor: pointer;
        }

        .comment-actions li.complain {
            padding-right: 0.75rem;
            border-right: 1px solid #e1e5eb;
        }

        .comment-actions li.reply {
            padding-left: 0.75rem;
            padding-right: 0.125rem;
        }

        .comment-actions li:hover {
            color: #0095ff;
        }
        </style>
{% endblock %}