{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align : center;">Step 1 : Chose an subscription plan</h1>
    <hr />
        <main class="col-md-9 col-xs-11 p-l-2 p-t-2">
        {% for a in abos %}
            <form id="form{{ a.idAbonnement }}" action="/subscription/subscribe/{{ a.idAbonnement }}">
                <div onClick="postForm({{ a.idAbonnement }})">
                    <h2>{{ a.nom }}</h2>
                    <p>{{ a.prix }} €</p>
                    <p>{{ a.duree }} days</p>
                    <p>{{ a.desc }}</p>
                </div>
            </form>
        {% endfor %}
        </main>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

        .blurry:hover{
            -webkit-transition: 0.1s -webkit-filter linear;
            -webkit-filter:blur(1px);
        }

        main form{
            border: solid black 1px;
        }
        main form:hover{
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        function postForm(idForm){
            $("#form"+idForm).submit();
        }
    </script>
{% endblock %}